/* Keyframes */

@keyframes imageShow {
    0% {
        opacity: 0;
        -webkit-filter: blur(8px);
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        -webkit-filter: blur(0px);
        transform: scale(1);
    }
}