---
import '../styles/scss/main.scss'
import Layout from '../layouts/BaseLayout.astro'
---

<Layout
  title="Redradix - Layout"
  description="This is a meta description for this page"
>
  <h1>Calidad, como cualidad</h1>
  <p>
    Diseño de experiencia de usuario Maquetación y diseño responsive Desarrollo
    por sprints
  </p>
</Layout>
