---
import Layout from '../layouts/BaseLayout.astro'
import Button from '../components/BaseButton.astro'
---

<Layout
  title="Redradix - Layout"
  description="This is a meta description for this page"
>
  <section class="hero">
    <div class="hero__image-container">
      <img
        class="hero__image"
        src="/assets/images/hero-image.webp"
        alt="Clean and minimal desk setup"
        loading="lazy"
      />
    </div>
    <div class="hero__content">
      <h1 class="hero__title">
        <span class="hero__title-word">Calidad,</span>
        como
        <span class="heading-highlight">cualidad</span>
      </h1>
      <p class="hero__text">
        Diseño de experiencia de usuario Maquetación y diseño responsive
        Desarrollo por sprints
      </p>
      <div class="hero__buttons">
        <Button to="/" aria="Link to Start page">Empezar</Button>
        <Button to="/" secondary={true} aria="Link to Contact page"
          >Contacto</Button
        >
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  @import '../styles/scss/abstracts/_variables';
  @import '../styles/scss/abstracts/_mixins';

  /* Local variables */
  $hero-image-width-m: 57%;
  $hero-image-width-d: 650px;
  $hero-title-width-d: 366px;
  $hero-text-width-d: 304px;
  $hero-image-bg-color: #ededef;

  .hero {
    @include media(md) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      width: min(100% - ($space-l * 2), $container-width);
      margin-inline: auto;
    }

    &__image-container {
      aspect-ratio: 130 / 123;
      margin-bottom: $space-l;
      overflow: hidden;
      background-color: $hero-image-bg-color;
      display: flex;

      @include media(md) {
        margin-bottom: 0;
        max-width: $hero-image-width-m;
      }

      @include media(lg) {
        margin-bottom: 0;
        max-width: $hero-image-width-d;
      }
    }

    &__image {
      opacity: 0;
      -webkit-filter: blur(8px);
      transform: scale(1.2);
      transform-origin: center;
      animation: imageShow $base-timing * 4 $base-cubic-bezier $base-timing * 2
        forwards;
    }

    &__content {
      padding: 0 $space-m;

      @include media(md) {
        padding: 0 $space-l 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &__title {
      @include media(md) {
        max-width: $hero-title-width-d;
      }
    }

    &__title-word {
      display: block;

      @include media(md) {
        display: inline;
      }
    }

    &__text {
      @include media(md) {
        max-width: $hero-text-width-d;
      }
    }

    &__buttons {
      display: flex;
      gap: $space-m;
      margin-bottom: $space-l;
    }
  }
</style>
