---
import Layout from '../layouts/BaseLayout.astro'
---

<Layout
  title="Redradix - Layout"
  description="This is a meta description for this page"
>
  <h1>Calidad, como cualidad</h1>
  <p>
    Diseño de experiencia de usuario Maquetación y diseño responsive Desarrollo
    por sprints
  </p>
</Layout>

<style lang="scss">
  @import '../styles/scss/abstracts/_variables';
  @import '../styles/scss/abstracts/_mixins';
</style>
