---
import '../styles/scss/main.scss'
import BaseHead from '../components/BaseHead.astro'
import BaseHeader from '../components/BaseHeader.astro'

export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <BaseHeader />

    <main>
      <slot />
    </main>
  </body>
</html>
